body{
    background-color: lightgray;
}
.fa{
    color: #252564;    
    
}
span{
    font-size:14px;
}
a{
    border-bottom: 1px solid blue;
}
.box-part{
    background-color: white;
    padding: 40px 10px;
    text-align:center;
    margin: 30px 0px;
}
.para{
    margin:20px 0px;
}